{% extends 'base.html' %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Menu</title>-->
{% block title %}
    Menu
{% endblock %}
<!--</head>-->
<!--<body>-->
{% block content %}
    <ul>
    {%for zodiac in zodiacs%}
        <li><a href="{%url 'url_revers' sigen_zodiac=zodiac%}">{{ zodiac|title }}</a></li>
<!--        {%if forloop.first%}-->
<!--            <li><b>{{forloop.counter}} {{ zodiac|title }}</b></li>-->
<!--        {%elif forloop.last%}-->
<!--            <li style="color:blue">{{forloop.counter}} {{ zodiac|title }}</li>-->
<!--        {%else%}-->
<!--            <li>{{forloop.counter}} {{ zodiac|title }}</li>-->
<!--        {%endif%}-->
    {%endfor%}
    </ul>
{% endblock %}
<!--    <ul>-->
<!--    {%for key, value in zodiac.items%}-->
<!--        <li>{{key}} {{value.description}}</li>-->
<!--    {%endfor%}-->
<!--    </ul>-->

<!--</body>-->
<!--</html>-->
